<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


<h1>Listing Page</h1>

<div id="result"></div>


<table class="table table-dark table-hover">
	<thead>
		<th>Id</th>
		<th>Name</th>
		<th>Email</th>
		<th>Aavatar</th>
	</thead>
	<tbody id="records">
		<tr>
			<td>sample </td>
			<td>sample</td>
			<td>sample</td>
			<td>sample</td>
		</tr>
	</tbody>

</table>


<script>

url = "https://reqres.in/api/users?page=1"

fetch(url)
.then(res => res.json())
.then(result => {

	console.log(result)
	
	console.table(result['data'])

	console.log(result['data'][0]['email'])
	console.log(result['data'][0]['avatar'])
	
    document.getElementById("result").innerHTML = result['data'][0]['email']

	output = "";
	
	for(let i = 0; i < result['data'].length; i++){
		
		console.log(result['data'][i]['email'])
		
		output += `<tr>`
		output += `<td>${result['data'][i]['id']}</td>`
		output += `<td>${result['data'][i]['first_name']}</td>`
		output += `<td>${result['data'][i]['email']}</td>`
		output += `<td><img src="${result['data'][i]['avatar']}"/></td>`
		output += `</tr>`
	
	}
	
	document.getElementById("records").innerHTML = output;
	
})

</script>