<input type="text" id="num1" autofocus/> <br>
<input type="text" id="num2"/> <br>
<button onclick="add();">Get Addition</button>
<div id="add-result"></div>



<script>
//CW WAP to read 2 numbers from input box and print addition in div of it
function add() {
	x = parseInt(document.getElementById("num1").value)
	y = parseInt(document.getElementById("num2").value)

	z = x + y

	console.log(`${x} + ${y} = ${z}`)
	
	document.getElementById("add-result").innerHTML = `${x} + ${y} = ${z}`
}
</script>