<!-- this is sample comment -->

<input type="text" id="number1" placeholder="Enter number"/>
<button type="button" onclick="getSqr()">Get Square</button>
<div id="result">
	Final answer will come here
</div>


<script>
// <opentag attr1="attr1value" attr2="attr2value"> content </closetag>

function getSqr() {

	num = document.getElementById("number1").value
	console.log(`Square of ${num} is ${num * num}`)
	document.getElementById("result").innerHTML = `Square of ${num} is ${num * num}`

}

//CW WAP to read 2 numbers from input box and print addition in div of it
/*
PascalCase => ClassName
camelCase => functionName()
snake_case => variable_name, CONSTANT_NAME
kebab-case => css-class, static-file.png
*/
</script>