<table border=1>
	<thead>
		<th>Id</th>
		<th>Email</th>
		<th>Name</th>
		<th>Avatar</th>
	</thead>
	
	<tbody id="dynamic-result">
		<tr>
			<td>sample id</td>
			<td id="email-result">sample email</td>
			<td>sample name</td>
			<td>sample avatar</td>
		</tr>
	</tbody>

	<tfoot>
	</tfoot>
</table>

<script>

url = "https://reqres.in/api/users?page=2"

fetch(url)
.then(res => res.json())
.then(result => {

	records = result.data
	//console.log(records);
	//console.table(records);
	//console.log(records[0]['email'])
	document.getElementById("email-result").innerHTML = records[0]['email']
	
	output_str = '';
	
	for(let i = 0; i < records.length; i++){
		//console.log(records[i]['id']);
		//console.log(records[i]['email']);
		
		output_str += `<tr>`
		output_str += `<td>${records[i]['id']}</td>`
		output_str += `<td>${records[i]['email']}</td>`
		output_str += `<td>${records[i]['first_name']} ${records[i]['last_name']}</td>`
		output_str += `<td><img src="${records[i]['avatar']}" /></td>`
		output_str += `</tr>`
		
	}

	console.log(output_str);
	document.getElementById("dynamic-result").innerHTML = output_str;
})
</script>
















<!--
<table border=1>
	<tr>
		<td rowspan="2" align="center">A</td>
		<td>B</td>
	</tr>
	<tr>
		<td>C</td>
	</tr>
</table>

<table border=1>
	<tr>
		<td colspan="2" align="center">A</td>
	</tr>
	<tr>
		<td>B</td>
		<td>C</td>
	</tr>
</table>

<table border=1>

	<tr>
		<td>A</td>
		<td>B</td>
		<td>
			<table border=1>
				<tr>
					<td>C</td>
					<td>D</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="3" align="center">E</td>
	</tr>

</table>

-->

